# Including plugin and hotkey configurations
.obsidian/themes
.obsidian/appearance.json
.obsidian/workspace.json

# MacOs
.trash/

.DS_Store

# Stuff
Latex_Math_Symbols.pdf

info_lvnc.md

#Provvisoria
#SOR
