img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.HyperMD-codeblock.HyperMD-codeblock-bg.cm-line {
    width: 1000px;
    max-width: 1000px !important
}

